*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family:'Times New Roman', Times, serif;
  background-image: url("img/Copa\ America.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    background-attachment: fixed;
  
}

.contact-container{
  height: 100vh;
  display: flex;
  align-items: left;
  justify-content: space-evenly;
}

.contact-left{

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.contact-left h2 {
  font-weight: 600;
  color: white;
  font-size: 40px;
  margin-bottom: 5px;

}

@media screen and(max-width: 250px){
  body {
        background-size: 100%;
    }

  .contact-container{
    padding: 20px;
    
  }
  .contact-left{
   grid-template-columns: 1fr;

  }
}

@media only screen and (max-width: 480px) {
    body {
        background-size: 100%;
    }
}
  
